<html>
<head>
 <script>
    var sendajax = function() {
        //Khoi tao doi tuong
        var xhttp = new XMLHttpRequest() || ActiveXObject();
        //Bat su kien thay doi trang thai cuar request
        xhttp.onreadystatechange = function() {
                //Kiem tra neu nhu da gui request thanh cong
                if (this.readyState == 4 && this.status == 200) {
                    //In ra data nhan duoc
                    addData(this.responseText)
                }
            }
            //cau hinh request
        xhttp.open('POST', 'http://192.168.88.135:5000/message', true);
        //cau hinh header cho request
        xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        //gui request
        xhttp.send("hello");
    }
    
    var addData = function(data) {
		var obj = JSON.parse(data);
		
        document.getElementById('result').innerText = obj.a;
    }
    </script>
</head>
<body>
<form name="form" id="form" method="POST">
<input type="text" name="mess" id="mess">
<button type="button" onclick="sendajax()">Click</button></form>
    <p id="result" style="font-size: 25px;color: orange"></p>

</body>
</html>
